
@{
    ViewBag.Title = "Main";
}

<h2>Main</h2>
<div class="list-group">
    @Html.ActionLink("Teatres", "Index", "Teatres",null, new { @class = "list-group-item " })

    @Html.ActionLink("Persones", "Index", "Personas",null, new { @class = "list-group-item " })

    @Html.ActionLink("Funcions", "Index", "Funcions",null, new { @class = "list-group-item " })

    @Html.ActionLink("Espectacles", "Index", "Espectacles",null, new { @class = "list-group-item " })

    
</div>