
@{
    ViewBag.Title = "Main";
}

<h2>Main</h2>
@Html.ActionLink("Teatres", "Index", "Teatres") <br />

@Html.ActionLink("Persones", "Index", "Personas") <br />

@Html.ActionLink("Funcions", "Index", "Funcions")<br />

@Html.ActionLink("Espectacles", "Index", "Espectacles")<br />

